


<%= form_for @question do |f| %>
	<%= render 'shared/error_messages', object: @question %>
	<div class="form-group">
		<%= f.text_field :title, class: "form-control", placeholder: "Ingresa el titulo de la pregunta"  %>
	</div>
	<div class="form-group">
		<%= f.text_area :description, class: "form-control", placeholder: "Ingresa la desripción"  %>
		<%= f.hidden_field :votes, value: 0 %>
	</div>

	<div class="form-group">
		<%= f.submit 'Crear pregunta', class: "btn btn-primary btn-lg btn-block" %>
	</div>
<% end %>
