<div class="container">
	<div class="row">
		<div class="col-md-10 col-sm-offset-1">
			<div class="question">
				<h1><%= @question.title  %></h1>
				<p><%= @question.description %></p>
				<div class="">
					<%= render 'comment/show', comments: @question.comments%>
					<%= render 'comment/newquestioncomment'  %>
				</div>
			</div>
			<div class="answers">

				<h3>(<%= @question.answers.count %>) Respuesta(s)</h3>
				<%= render 'answers/show', answers: @question.answers %>
				<h3>Tu respuesta</h3>

				<%= form_for @answer do |f| %>
					<div class="form-group">
						<%= f.text_area :body, class: "form-control", placeholder: "Ingresa tu respuesta" %>
						<%= f.hidden_field :question_id, :value => @question.id %>
					</div>
					<div class="form-group">
						<%= f.submit class: "btn btn-primary pull-right" %>
					</div>
				<%  end %>
			</div>
		</div>
	</div>
</div>
