<div class="container">
	<div class="row">
		<div class="col-md-9 col-sm-offset-1">

			<div class="">

			<h1><%= @question.title  %></h1>

			<p><%= @question.description %></p>

			</div>


			<h3>(<%= @answers.count %>) Respuesta(s)</h3>

			<%= render 'answers/show' %>

			<h3>Tu respuesta</h3>

			<%= render 'answers/new' %>

		</div>
	</div>
</div>
