<div class="container">
	<div class="row">
		<div class="col-md-10 col-sm-offset-1">
			<div class="question">
				<h1><%= @question.title  %></h1>
				<p><%= @question.description %></p>

				<div class="">
					<%= render 'comment/newquestioncomment' %>
				</div>
			</div>

			<div class="answers">
				<h3>(<%= @answers.count %>) Respuesta(s)</h3>
				<%= render 'answers/show' %>
				<%= render 'answers/new' %>
			</div>






		</div>
	</div>
</div>
